[user]
	email = courser4848@gmail.com
	name = xecua
[core]
    editor = nvim -f
[color]
    ui = auto
[alias]
    a = add
    p = push
    po = push origin
    pl = pull
    plo = pull origin
    f = fetch -prune
    m = merge
    mas = checkout master
    s = status
    ss = status -sb
    c = commit -am
    co = checkout
    b = branch
    d = diff
    l = log
    g = log --graph --date=short --decorate=short --oneline
    r = rebase
    ri = rebase -i
    amend = commit -a --amend
