[submodule "satysfi/satysfi-highlight"]
	path = satysfi/satysfi-highlight
	url = https://github.com/Amaoto17/satysfi-highlight.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/adi1090x/rofi
[submodule "alacritty/theme"]
	path = alacritty/theme
	url = https://github.com/alacritty/alacritty-theme.git
