[user]
	email = courser4848@gmail.com
	name = xecua
[core]
    editor = nvim -f
[color]
    ui = auto
[alias]
    m = checkout master
    s = status
    ss = status -sb
    c = commit
    co = checkout
    b = branch
    d = diff
    l = log
    g = log --graph --date=short --decorate=short --oneline
    r = rebase
    ri = rebase -i
