/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green
 *rgba(0,153,153,1),#009999 --> Persian Green
 *
 */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* Symbols Nerd Font for icons(only). https://github.com/Alexays/Waybar/issues/215#issuecomment-2099830546 */
  font-family: "Symbols Nerd Font", sans-serif;
  /* font-family: monospace; */
  font-size: 12px;
  color: #ffffff;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background: transparent;
}

#workspaces {
  border-radius: 0.5rem;
  background-color: rgb(100, 114, 125);
}

#workspaces button {
  border-radius: 0;
  padding: 0 0.5rem;
  font-size: 20px;
}

#workspaces button.active {
  background: #4d97d1;
}

#workspaces button.urgent {
  background: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#hardware,
#media,
#clock,
#tray {
  background: rgba(80, 80, 80, 0.5);
  border-radius: 0.5rem;
}

#hardware > *,
#media > * {
  margin: 0 0.5rem;
}

#hardware > *:first-child > *,
#media > *:first-child > * {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#hardware > *:last-child > *,
#media > *:last-child > * {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon {
  padding: 0.1rem 0.5rem;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  /* background-color: #eb4d4b; */
}
