# Utility
[[plugins]]
repo = 'nvim-lua/plenary.nvim'

# cursor
[[plugins]]
repo = 'rhysd/accelerated-jk'
lua_add = """
vim.keymap.set('n', 'j', '<Plug>(accelerated_jk_gj)')
vim.keymap.set('n', 'k', '<Plug>(accelerated_jk_gk)')
"""

[[plugins]]
repo = 'skanehira/jumpcursor.vim'
lua_add = """
vim.keymap.set('n', '<Leader>j', '<Plug>(jumpcursor-jump)')

local jumpcursor_marks = {}
for i = 0x61, 0x7a do table.insert(jumpcursor_marks, string.char(i)) end
for i = 0x41, 0x5a do table.insert(jumpcursor_marks, string.char(i)) end
for i = 0x21, 0x40 do table.insert(jumpcursor_marks, string.char(i)) end
for i = 0x5b, 0x60 do table.insert(jumpcursor_marks, string.char(i)) end
for i = 0x7b, 0x7e do table.insert(jumpcursor_marks, string.char(i)) end
vim.g.jumpcursor_marks = jumpcursor_marks
"""

# parenthesis control
[[plugins]]
repo = 'rhysd/vim-operator-surround'
depends = 'vim-operator-user'
hooks_file = '$STD_CONFIG/dpp/surround.lua'

## dependency
[[plugins]]
repo = 'kana/vim-operator-user'

[[plugins]]
repo = 'monaqa/dial.nvim'
lua_source = """
local map = require("dial.map")
local augend = require("dial.augend")

vim.keymap.set("n", "<C-a>", map.inc_normal(), { noremap = true })
vim.keymap.set("n", "<C-x>", map.dec_normal(), { noremap = true })
vim.keymap.set("n", "g<C-a>", map.inc_gnormal(), { noremap = true })
vim.keymap.set("n", "g<C-x>", map.dec_gnormal(), { noremap = true })
vim.keymap.set("v", "<C-a>", map.inc_visual(), { noremap = true })
vim.keymap.set("v", "<C-x>", map.dec_visual(), { noremap = true })
vim.keymap.set("v", "g<C-a>", map.inc_gvisual(), { noremap = true })
vim.keymap.set("v", "g<C-x>", map.dec_gvisual(), { noremap = true })

require("dial.config").augends:register_group({
    default = {
        augend.integer.alias.decimal_int,
        augend.integer.alias.hex,
        augend.date.alias["%Y/%m/%d"],
        augend.date.alias["%Y-%m-%d"],
        augend.date.alias["%m/%d"],
        augend.date.alias["%H:%M"],
        augend.constant.alias.bool,
        augend.constant.alias.Bool,
        augend.constant.alias.alpha,
        augend.constant.alias.Alpha,
        augend.constant.alias.ja_weekday_full,
    },
})
"""

[[plugins]]
repo = 'tpope/vim-abolish'
