[Unit]
Description=i3 session target
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target xdg-desktop-autostart.target
ConditionEnvironment=XDG_SESSION_DESKTOP=i3
