[Unit]
Description=wayland session target
BindsTo=graphical-session.target
After=graphical-session-pre.target
Wants=graphical-session-pre.target xdg-desktop-autostart.target
