[Unit]
Description=xremap
BindsTo=sway-session.target

[Service]
KillMode=process
ExecStart=%h/.local/bin/xremap-sway %h/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
Restart=always

[Install]
WantedBy=sway-session.target
